/** Created by Bernardo on 15/02/2016.. */

body,html {
    position: relative;
    height: 100%;
    background-color: #e0e0e0;
    padding-top: 50px;
    margin-top: -50px;
}

.container {
    width: 80%;
    padding-bottom: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}

a {
    color: #bc6700;
}

a:hover,
a:active,
a:focus {
    color: #ff7600;
}

#corpo-full {
    position: relative;
    width: 100%;
    height: 100%;
}

.cabecalho-inicial {
    position: relative;
    top: -50px;
    width: 100%;
    height: 400px;
    background-image: url('../web/imagens/ge-neuro-kite-and-lightning-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho-final {
    position: fixed;
    z-index: 1030;
    width: 100%;
    height: 13%;
    background-image: url('../web/imagens/ge-neuro-kite-and-lightning-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho-inicial h1 {
    position: relative;
    text-shadow: 6px 2px 2px #0f0f0f;
    top: 50%;
    text-align: center;
    color: #ffffff;
}

.cabecalho-final h1 {
    position: relative;
    top: 0;
    text-align: center;
    z-index: 1030;
    color: #ffffff;
}

.cabecalho-inicial h1 small {
    position: relative;
    text-align: center;
    color: #999;
    text-shadow: 2px 1px 1px #000;

}

.cabecalho-final h1 small {
    display: none;
}

#corpo {
    position: relative;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 1px;
    color: #000;
    border-radius: 10px;
    padding-bottom: 200px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.titulo {
    font-weight: normal;
    color: #ffffff;
}

.article-header {
    height: 40px;
    border-radius: 5px;
    width: 100%;
    background-color: #5e5e5e;
}

.subtitulo {
    font-size: 18pt;
    font-weight: bold;
}

.separador {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #000;
}

.esquerda {
    text-align: left;
}

.publicacoes-ano {
    position: relative;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}






/* =================== FOOTER =================== */

#rodape {
    position: absolute;
    height: 400px;
    width: 100%;
    z-index: 1031;
    background-color: #333;
    color: #ffffff;
    border-top: 1px solid #333;
}

#rodape .contato {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    height: 330px;
}

#rodape .footer {
    position: absolute;
    width: 100%;
    background-color: #000;
    color: #ffffff;
    padding-top: 35px;
}

#rodape .footer #footer {
    position: relative;
    height: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 10pt;
}

