/** Created by Bernardo on 15/02/2016.. */

body,html {
    position: relative;
    height: 100%;
    background-color: #1D536F;
}

.container {
    width: 80%;
    padding-bottom: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}

a {
    color: #ff7600;
    font-weight: bold;
}

a:hover,
a:active,
a:focus {
    color: #ff7600;
}

#corpo-full {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
}

.cabecalho {
    position: relative;
    width: 100%;
    background-image: url('../web/imagens/cabecalho-art6.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1030;
}

.cabecalho-inicial {
    position: relative;
    top: -50px;
    width: 100%;
    height: 400px;
    background-image: url('../web/imagens/cabecalho-art6.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho-final {
    position: fixed;
    z-index: 1030;
    width: 100%;
    height: 15%;
    background-image: url('../web/imagens/cabecalho-art6-adpt.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho-inicial h1 {
    position: relative;
    text-shadow: 6px 2px 2px #0f0f0f;
    top: 50%;
    text-align: center;
    color: #ffffff;
}

.cabecalho-final h1 {
    position: relative;
    text-shadow: 6px 2px 2px #0f0f0f;
    top: 0;
    text-align: center;
    z-index: 1030;
    color: #ffffff;
}

.cabecalho-inicial h1 small {
    position: relative;
    text-align: center;
    color: #999;
    text-shadow: 2px 1px 1px #000;
}

.cabecalho-final h1 small {
    display: none;
}


#corpo {
    position: relative;
    background-color: #ffffff;
    box-shadow: 2px 2px 60px 12px #000;
    color: #000;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 3%;
}

#index {
    position: relative;
    background-color: #ffffff;
    box-shadow: 2px 2px 50px #333;
    color: #000;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 2%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5%;
}
#contato {
    position: relative;
    height: 30%;
}
.titulo {
    position: relative;
    top: 10px;
    font-weight: normal;
    color: #ffffff;
}

.article-header {
    height: 60px;
    padding-top: 0;
    border-radius: 5px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.subtitulo {
    font-size: 18pt;
    font-weight: bold;
}

.separador {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #000;
}

.esquerda {
    text-align: left;
}

.publicacoes-ano {
    position: relative;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.equipe {
    display: block;
    position: relative;
}

.equipe-imagem {
    display: block;
    position: relative;
    left: 30px;
    float: left;
    width: 120px;
    height: 150px;
}

.equipe-legenda {
    display: block;
    position: relative;
    left: 5%;
}

.box {
    background: #ccc;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    margin: 0 auto 6px;
}
.box:before,
.box:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 19%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);

    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);

    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}
.box:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.media-heading {
    color: #555;
    font-size: 15pt;
}


/* =================== FOOTER =================== */

#rodape {
    position: absolute;
    height: 400px;
    width: 100%;
    color: #ffffff;
    border-top: 1px solid #333;
    box-shadow: 0 -50px 60px rgba(0,0,0,.3);
}

#rodape .contato {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    height: 80%;
}

#rodape .footer {
    position: absolute;
    width: 100%;
    background-color: #000;
    color: #ffffff;
    padding-top: 35px;
}

#rodape .footer #footer {
    position: relative;
    height: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 10pt;
}

